body {
    font-family: Arial, sans-serif;
    background-color: rgb(250, 224, 109) /* Fond jaune de la page */
}


.accordion {
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;

}

.accordion-item {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px; /* Arrondir les coins */
    padding: 0; /* Pas de padding pour aligner les boutons */
    background-color: white; /* Blanc pour englober tout */
}

.accordion-button {
    width: 100%;
    padding: 10px;
    margin: 0% 1%;
    background-color: rgb(20, 130,110); /* Vert pour les boutons de dépliant */
    color: white;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.accordion-button:hover {
    background-color: rgb(144, 2, 2); /* Change de couleur au survol */
}

.panel {
    display: none;
    padding: 10px;
    background-color:rgb(20, 130,110) ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.container{
    width: 10%;
    padding: 2%;
    flex-direction: column;
}

.limg{
    max-width: 300%;
    max-height: 300%;
    margin: 20% 475%;
}
.button{
    margin: 5% 10%;
    padding: 10%;
    background-color: rgb(20, 130,110); /* Vert pour les sous-boutons */
    color: rgb(3, 3, 33);
    border: rgb(3, 3, 33);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    cursor: pointer;
    border-radius: 8px;
}
.button-container {
    background-color: rgb(20, 130,110); /* Fond blanc autour de tous les boutons */
    padding: 10px;
    border-radius: 50%; /* Arrondir le conteneur */
}

.image-button {
    display: block;
    margin: 5px 0;
    padding: 1%;
    background-color: #14a5cd; /* Vert pour les sous-boutons */
    color: rgb(3, 3, 33);
    border: rgb(3, 3, 33);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    cursor: pointer;
    border-radius: 8px;
}

.image-button:hover {
    background-color: #1d79e3; /* Vert plus foncé au survol */
}

.image-display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.image {
    max-width: 200px;
    max-height: 200px;
    margin: 0 10px;
}

.prev, .next {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff88;
}

.carreblanc{
    background-color: #f2f2f2;
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    size: 20px;
    justify-content: center;
    border: none;
    border-radius: 10%;
}
.carreblanc:hover{
    background-color: rgb(41, 57, 57);
}